/* the styles for the HTML elements */
html {
    background-color: rgb(192, 192, 192);
}
body {
    background-image: url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid black;
}
#body table
{
    margin:0 auto;
    position:relative;
    bottom:50px;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
#header
{
    background:#00a2d1;
    width:100%;
    height:50px;
    color:#fff;
    font-size:36px;
    font-family:Verdana, Geneva, sans-serif;
}
header h1 {
    color: black;
}
main {

}

section {
    float: left;
    width: 500px;
}
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: rgb(208, 133, 4);
}

a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
br {
    clear: left;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
form {

}
/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;  
}
.last_paragraph {
    margin-bottom: 2em; 
}
/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    width: 150px;
    text-align: center;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: 2em;
}
/* Additional styles for the Product Manager application */
#add_holiday_form {
    margin: .5em 0;
}
#add_holiday_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_holiday_form input {
    float: left;
}
#add_holiday_form input[text] {
    width: 15em;
}
